.ui-widget {
	font-size: 15px !important;
}

html, body {
	margin: 5;
	padding: 0px;
	height: 100%;
}

#all{
	min-height: 100;
	position: relative;
}

#content {
	margin-left:10px;
	margin-right:10px;
	min-height: 83%;
	position: relative;
	margin-bottom: 30px;
}

#header {
	padding: 0px;
}

#body {
	padding: 0px;
	padding-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}